
.container-card{
    @media(max-width: 319px){
        display: none;
    } 
    @media(min-width: 320px) and (max-width: 540px){
        display: none;
    }
    @media(min-width: 541px) and (max-width: 912px){
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
	
    @media(min-width: 1205px){
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
}

.container-card1{
    @media(max-width: 319px){
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    } 
    @media(min-width: 320px) and (max-width: 540px){
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    @media(min-width: 541px) and (max-width: 912px){
        display: none;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        display: none;
    }
	
    @media(min-width: 1205px){
        display: none;
    }
}
.title-cards{
    @media(max-width: 319px){
        width: 100%;
	    margin: auto;
	    padding: 20px;
	    margin-top: 20px;
	    text-align: center;
	    color: #1f1b1b;
    } 
    @media(min-width: 320px) and (max-width: 540px){
        width: 100%;
	    margin: auto;
	    padding: 20px;
	    margin-top: 20px;
	    text-align: center;
	    color: #1f1b1b;
    }
    @media(min-width: 541px) and (max-width: 912px){
        width: 100%;
	    margin: auto;
	    padding: 20px;
	    margin-top: 20px;
	    text-align: center;
	    color: #1f1b1b;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        width: 100%;
	    margin: auto;
	    padding: 20px;
	    margin-top: 20px;
	    text-align: center;
	    color: #1f1b1b;
    }
	
    @media(min-width: 1205px){
        width: 100%;
    	margin: auto;
    	padding: 20px;
	    margin-top: 20px;
	    text-align: center;
	    color: #1f1b1b;
    }
}
.card{
    @media(max-width: 319px){
        width: 100%;
        height: 100%;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
        padding: 20px;
    } 
    @media(min-width: 320px) and (max-width: 414px){
        width: 100%;
        height: 100%;
        padding: 20px;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
    }
    @media(min-width: 415px) and (max-width: 650px){
        width: 100%;
	    margin: 20px;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
        padding: 20px;
    }
    @media(min-width: 651px) and (max-width: 912px){
        width: 100%;
	    margin: 0 10px 10px 30px;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(158, 31, 31, 0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
        padding: 20px;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        width: 100%;
	    margin: 20px;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
        padding: 20px;
    }
    @media(min-width: 1205px){
        width: 100%;
	    margin: 20px;
	    border-radius: 6px;
	    overflow: hidden;
        background: linear-gradient(to top, rgba(31, 30, 30, 0.8), rgb(20, 20, 20));
	    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	    transition: all 400ms ease-out;
	    cursor: default;
        padding: 20px;

    }
}
.card:hover{
    @media(max-width: 319px){
        box-shadow: 5px 5px 20px rgba(202, 196, 196, 0.4);
	    transform: translateY(-3%);
    } 
    @media(min-width: 320px) and (max-width: 414px){
        box-shadow: 5px 5px 20px rgba(202, 196, 196, 0.4);
	    transform: translateY(-3%);
    }
    @media(min-width: 415px) and (max-width: 912px){
        box-shadow: 5px 5px 20px rgba(202, 196, 196, 0.4);
	    transform: translateY(-3%);
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        box-shadow: 5px 5px 20px rgba(202, 196, 196, 0.4);
	    transform: translateY(-3%);
    }
    @media(min-width: 1205px){
        box-shadow: 5px 5px 20px rgba(202, 196, 196, 0.4);
	    transform: translateY(-3%);
    }
}
.card img{
    @media(max-width: 319px){
        width: 80%;
    	height: 210px;
    } 
    @media(min-width: 320px) and (max-width: 414px){
        width: 70%;
    	height: 210px;
    }
    @media(min-width: 415px) and (max-width: 912px){
        width: 60%;
    	height: 210px;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        width: 52%;
    	height: 210px;
    }
    @media(min-width: 1205px){
        width: 52%;
    	height: 210px;
    }
}
.card .contenido-card{
    @media(max-width: 319px){
        padding: 15px;
	    text-align: center;
    } 
    @media(min-width: 320px) and (max-width: 414px){
        padding: 15px;
	    text-align: center;
    }
    @media(min-width: 415px) and (max-width: 912px){
        padding: 15px;
	    text-align: center;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        padding: 15px;
	    text-align: center;
    }
    @media(min-width: 1205px){
        padding: 15px;
	    text-align: center;
    }
}
.card .contenido-card h3{
    @media(max-width: 319px){
        margin-bottom: 15px;
	    color: #dad6d6;
        font-family: PinyonScript-Regular;
    } 
    @media(min-width: 320px) and (max-width: 414px){
        margin-bottom: 15px;
	    color: #dad6d6;
        font-family: PinyonScript-Regular;
    }
    @media(min-width: 415px) and (max-width: 912px){
        margin-bottom: 15px;
	    color: #dad6d6;
        font-family: PinyonScript-Regular;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        margin-bottom: 15px;
	    color: #dad6d6;
        font-family: PinyonScript-Regular;
    }
    @media(min-width: 1205px){
        margin-bottom: 15px;
	    color: #dad6d6;
        font-family: PinyonScript-Regular;
    }
}
.card .contenido-card p{
	
    @media(max-width: 319px){
        line-height: 1.8;
    	color: #c9bfbf;
    	font-size: 14px;
    	margin-bottom: 5px;
    } 
    @media(min-width: 320px) and (max-width: 414px){
        line-height: 1.8;
    	color: #c9bfbf;
    	font-size: 14px;
    	margin-bottom: 5px;
    }
    @media(min-width: 415px) and (max-width: 912px){
        line-height: 1.8;
    	color: #c9bfbf;
    	font-size: 14px;
    	margin-bottom: 5px;
    }
    
    @media(min-width: 913px) and (max-width: 1204px){
        line-height: 1.8;
    	color: #c9bfbf;
    	font-size: 14px;
    	margin-bottom: 5px;
    }
    @media(min-width: 1205px){
        line-height: 1.8;
    	color: #c9bfbf;
    	font-size: 14px;
    	margin-bottom: 5px;
    }
}

